.PreviewPageContainer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PreviewPageMainContainer {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .PreviewPageMainContainer {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .PreviewPageMainContainer {
    width: 35%;
  }
}
