.ResetPassowordMainComponent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResetPassowordHeadContainer {
  height: 70vh;
  border: 1px solid white;
  width: 70vw;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 1%;
}

.ResetPassowordLeftContainer {
  /* border: 2px solid red; */
  height: 65vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 2vw;
}

.ResetPassowordrightContainer {
  /* border: 2px solid red; */
  height: 90%;
  width: 40%;
}

.ResetPassowordLogoHeadContainer {
  /* border: 1px solid blue; */
  height: 33vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ResetPassowordLogoBottomContainer {
  /* border: 1px solid blue; */
  height: 25%;
  display: flex;
  flex-direction: row;
}

.ResetPassowordLogoDescContainer {
  /* border: 1px solid blue; */
  height: 24%;
  text-align: left;
}

.SiteName {
  font-family: "Lato";
  font-style: normal;
  margin-left: 10px;
  font-weight: 800;
  font-size: 65px;
  /* line-height: 108px; */
}
.SiteNameEnd {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  /* margin-left: 10px; */
  /* line-height: 108px; */
  color: #ffa403;
}

.siteNamebottom {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  height: 70%;
  width: 70%;
  background-color: white;
  display: flex;
  border-radius: 1rem;
  padding: 20px;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 60px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
  /* margin-left: 10px; */
}

.loginDesc {
  font-size: 20px;
}

/* .loginBox{
    height:90%;

    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  background-color: rgb(238, 238, 238);
  padding-left: 20px;
  width: 90%;
}

.loginInput:focus {
  outline: none;
}

/* .loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
} */

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.loginRegisterButton {
  margin-left: 3rem;
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.ResetPasswordInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  width: 90%;
  display: block;
}

.ShowPasswordLogin {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.InputFields {
  display: flex;
  position: relative;
}

.ResetPasswordBox {
  height: 60vh;
  width: 23vw;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .ForgotPasswordInput{
    height: 4vh;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 1.8vh;
    padding-left: 20px;
    width: 20vw;
    display: block;
}

.ForgotPasswordInput:focus{
    outline: none;
} */

.ForgotPasswordBtn {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ffa403;
  color: white;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  width: 23vw;
}

.BackToLogin {
  text-align: center;
  text-decoration: none;
  color: #9e9e9e;
  width: 100%;
  display: flex;
  justify-content: end;
  height: 5vh;
  font-size: 26px;
}

.ForgotPasswordButton {
  margin-left: 3rem;
  width: 23vw;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.TermsandCondition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -18px;
  margin-bottom: 9px;
}

button:disabled {
  background-color: black;
  color: white;
  cursor: default;
}

.resetsuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
}
