.ForgotPassowordMainComponent {
  /* height: 100vh;
  background-image: url("/public/photos/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ForgotPassowordHeadContainer {
  /* height: 70vh; */
  border: 1px solid white;
  width: 70vw;
  background-color: #f9f9f9;
  opacity: 0.9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 1%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.ForgotPassowordLeftContainer {
  border: 2px solid red;
  height: 62vh;
  width: 38vw;
  padding: 1vh;
}

.ForgotPassowordrightContainer {
  /* border: 2px solid red; */
  /* height: 44vh; */
  width: 27vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ForgotPassowordLogoHeadContainer {
  /* border: 1px solid blue; */
  height: 32vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30vw;
}

.ForgotPassowordLogoBottomContainer {
  /* border: 1px solid blue; */
  height: 25%;
  display: flex;
  flex-direction: row;
  padding-left: 12px;
}

.ForgotPassowordLogoDescContainer {
  /* border: 1px solid blue; */
  height: 24%;
  text-align: left;
  padding-left: 20px;
  margin-top: -13px;
}

.SiteName {
  font-family: "Lato";
  font-style: normal;
  margin-left: 10px;
  font-weight: 800;
  font-size: 30px;
}

.SiteNameEnd {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  margin-left: 10px;

  color: #ffa403;
}

.siteNamebottom {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 39px;
  color: #000000;
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  height: 70%;
  width: 70%;
  background-color: white;
  display: flex;
  border-radius: 1rem;
  padding: 20px;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 60px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
  /* margin-left: 10px; */
}

.loginDesc {
  font-size: 20px;
}

/* .loginBox{
    height:90%;

    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  background-color: rgb(238, 238, 238);
  padding-left: 20px;
  width: 90%;
}

.loginInput:focus {
  outline: none;
}

/* .loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FFA403!important;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
} */

.loginForgot a {
  text-align: center;

  text-decoration: none;
}

.loginRegisterButton {
  margin-left: 3rem;
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.ResetPasswordInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  width: 90%;
  display: block;
}

.ShowPasswordLogin {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.InputFields {
  display: flex;
  position: relative;
}

.ForgotPasswordBox {
  /* height: 50vh; */
  width: 25vw;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ForgotPasswordInput {
  height: 5vh;
  border-radius: 20px;
  border: 1px solid green;
  font-size: 14px;
  padding: 3px 13px;
  width: 90%;
  display: block;
  margin-bottom: 20px;
}

/* .ForgotPasswordInput:focus {
  outline: none;
} */

.ForgotPasswordBtnn {
  height: 6vh;
  border-radius: 10px;
  border: none;
  background-color: #054635;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "lato";
  width: 13vw;
}

.BackToLogin a {
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #929292;
}

.ForgotPasswordButton {
  margin-left: 3rem;
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/* .fpLogoMainIcon {
  width: fit-content;
  height: 22vh;
} */

.FOrgetPasswordLogo {
  /* height: 15vh; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #3d544e;
  align-items: center;
}
.ForgotPasswordLogoimg {
  width: 50px;
}

.BannerPoppupForgot {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.InsidePopUp {
  background-color: #ffffff;
  height: 30vh;
  width: 30vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.BannerPoppupImage {
  /* border: 1px solid; */
  height: 14vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BannerPoppupImagesrc {
  height: 12vh;
}

.BannerPoppupTextInsideMain {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 3vh;
  text-align: center;
  color: #054635;
  margin-bottom: 2vh;
}

.BannerPoppupTextInside {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  color: #212429;
  margin-bottom: 2vh;
}

/* .ForgotPassowordTopContainerMob {
  display: none;
} */

.ForgotPassowordrightContainer p {
  font-size: 12px;
  margin: 0 0 15px 0;
}

.ForgotPassowordMainComponent {
  flex-direction: column;
  justify-content: unset;
  margin-top: 30px;
}

.fpLogoMainIcon {
  height: 7vh;
}

.SiteName {
  font-size: 24px !important;
  line-height: 0px !important;
}

.SiteNameEnd {
  font-size: 24px !important;
}

.ForgotPassowordTopContainerMob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.ForgotPasswordInput {
  width: 70vw;
  border-color: 1px solid gray;
}

.ForgotPassowordLeftContainer {
  display: none;
}

.ForgotPassowordHeadContainer {
  justify-content: center;
  width: 90vw;
  /* height: 50vh; */
}
.ForgotPasswordBox {
  width: 80vw;
  padding: 0;
}
.ForgotPasswordBtnn {
  width: 77vw;
  border-radius: 10px;
}

.InsidePopUp {
  width: 90%;
  padding: 10px;
}

@media (min-width: 600px) {
  .ForgotPassowordHeadContainer {
    width: 50vw;
  }

  .ForgotPasswordBox {
    width: 50vw;
    /* height: 50vh; */
  }

  .ForgotPasswordInput {
    width: 40vw;
  }

  .ForgotPasswordBtnn {
    width: 45vw;
  }
}

@media (min-width: 1000px) {
  .ForgotPassowordHeadContainer {
    width: 30vw;
    /* height: 50vh; */
  }

  .ForgotPassowordrightContainer {
    width: 100%;
  }

  .ForgotPasswordBox {
    /* width: 100%; */
  }

  .ForgotPasswordInput {
    width: 25vw;
  }

  .ForgotPasswordBtnn {
    width: 90%;
  }
}

@media (min-width: 1400px) {
  .ForgotPassowordHeadContainer {
    /* margin-top: 150px; */
    width: 23vw;
  }
  .ForgotPasswordInput {
    width: 19vw;
  }
}

@media (min-height: 1000px) {
  .ForgotPasswordInput {
    height: 3vh;
  }

  .ForgotPasswordBtnn {
    height: 3vh;
  }

  .ForgotPassowordHeadContainer {
    margin-top: 150px;
  }
}
