.ShowPasswordLogin{
    position: absolute;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-right: 20px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.ResetPasswordInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    width:90%;
    display: block;
    margin-bottom: 10px;
}
.InputFields{
    /* display:flex; */
  position: relative;
}

.PasswordDetails{
    font-size:x-small;
    color: gray;
}