.new-custom-calendar .react-calendar {
  /* width: 400px; */
  width: 100% !important ;
  max-width: 100%;
  background: #f2fff8;
  color: #3d5347;
  border-radius: 25px;
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 5px 10px;
  border: none !important;
}

.new-custom-calendar .highlight {
  background-color: #ffcc00;
  color: white;
}

.new-custom-calendar .react-calendar--doubleView {
  width: 700px;
}

.new-custom-calendar
  .react-calendar--doubleView
  .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.new-custom-calendar
  .react-calendar--doubleView
  .react-calendar__viewContainer
  > * {
  width: 50%;
  margin: 0.5em;
}

.new-custom-calendar .react-calendar,
.new-custom-calendar .react-calendar *,
.new-custom-calendar .react-calendar *:before,
.new-custom-calendar .react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.new-custom-calendar .react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color: #3d5347;
}

.new-custom-calendar .react-calendar__month-view__days {
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.new-custom-calendar .react-calendar button:enabled:hover {
  cursor: pointer;
}

.new-custom-calendar .react-calendar__navigation {
  display: flex;
  height: 50px;
  margin-bottom: 1em;
  border-bottom: 1px solid #d1d1d1;
}

.new-custom-calendar .react-calendar__navigation button {
  color: #1d785a;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 700;
}

.new-custom-calendar
  button.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  font-size: 28px;
  margin: 0;
}
.new-custom-calendar
  button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  font-size: 28px;
  margin: 0;
}
/* .new-custom-calendar .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
} */

.new-custom-calendar abbr[title] {
  text-decoration: none;
}

.new-custom-calendar .react-calendar__navigation button:enabled:hover,
.new-custom-calendar .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.new-custom-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.new-custom-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.new-custom-calendar
  .react-calendar__month-view__weekNumbers
  .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

/* .react-calendar__month-view__days__day--weekend {
      color: #d10000;
    } */

.new-custom-calendar .react-calendar__month-view__days__day--neighboringMonth,
.new-custom-calendar
  .react-calendar__decade-view__years__year--neighboringDecade,
.new-custom-calendar
  .react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.new-custom-calendar .react-calendar__year-view .react-calendar__tile,
.new-custom-calendar .react-calendar__decade-view .react-calendar__tile,
.new-custom-calendar .react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.new-custom-calendar .react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.75em;
}

.new-custom-calendar .react-calendar__tile:disabled {
  background-color: #f2fff8;
  color: #ababab;
}

.new-custom-calendar
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
.new-custom-calendar
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
.new-custom-calendar
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.new-custom-calendar .react-calendar__tile:enabled:hover,
.new-custom-calendar .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #3d5347 !important;
  border-radius: 20px !important;
}

.new-custom-calendar .react-calendar__tile--now {
  background-color: transparent !important; /* Remove the background */
  color: inherit !important; /* Optionally inherit the text color */
}

/* .react-calendar__tile--now {
    background: #4cbc974d !important;
    border-radius: 20px !important;
    font-weight: bold;
    color: #3d5347 !important;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffb625 !important;
    border-radius: 6px;
    font-weight: bold;
    color: #3d5347;
  } */

.new-custom-calendar .react-calendar__tile--hasActive {
  /* background: #76baff; */
}

.new-custom-calendar .react-calendar__tile--hasActive:enabled:hover,
.new-custom-calendar .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.new-custom-calendar .react-calendar__tile--active {
  background: #ffb625 !important;
  border-radius: 20px !important;
  font-weight: bold;
  color: #3d5347 !important;
}

.new-custom-calendar .react-calendar__tile--active:enabled:hover,
.new-custom-calendar .react-calendar__tile--active:enabled:focus {
  background: #ffb625 !important;
  color: #3d5347 !important;
}
.new-custom-calendar .react-calendar__tile.today-date {
  background: #4cbc974d !important;
  font-weight: bold;
  color: #3d5347 !important;
}

.new-custom-calendar .react-calendar__tile.today-date:enabled:hover,
.new-custom-calendar .react-calendar__tile.today-date:enabled:focus {
  background: #ffb625 !important;
  font-weight: bold;
  color: #3d5347;
}

.new-custom-calendar
  .react-calendar__tile.react-calendar__tile--active.today-date {
  background: #ffb625 !important;
  font-weight: bold;
  color: #3d5347 !important;
}

.new-custom-calendar
  .react-calendar__tile.react-calendar__tile--active.today-date:enabled:hover,
.new-custom-calendar
  .react-calendar__tile.react-calendar__tile--active.today-date:enabled:focus {
  background: #ffb625 !important;
  color: #3d5347 !important;
}

.new-custom-calendar .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

/* .react-calendar__tile--range {
      background: #f8f8fa;
      color: #6f48eb;
      border-radius: 0;
    } */

.new-custom-calendar .react-calendar__navigation__next2-button,
.new-custom-calendar .react-calendar__navigation__prev2-button {
  visibility: hidden;
}

/* .admin-dashboard-azan {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .MobileViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-zone {
  padding: 5px;
  text-align: center;
  background: #d0f9e4;
  border-radius: 10px;
  margin: auto 10vw;
} */
/* React calender .customly-added-btn style { */
/* .customly-added-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 35px;
  margin: 5px;
  cursor: pointer;
}
.customly-added-btn div {
  border: 2px solid green;
  background-color: #1b8368;
  color: #ffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  height: 30px;
}

.customly-added-btn img {
  height: 17px;
  width: 17px;
  margin-right: 8px; 
} */

/*Add my Riyad Hasan*/
.new-custom-calendar .react-calendar__month-view__days button {
  flex: 0 0 12.2857% !important;
  font-weight: 500;
  border-radius: 50% !important;
  height: 40px;
  justify-content: center;
  margin: 2px !important;
}
.new-custom-calendar .react-calendar__tile:enabled:hover,
.new-custom-calendar .react-calendar__tile:enabled:focus {
  border-radius: 50% !important;
}
.new-custom-calendar .react-calendar__month-view__weekdays__weekday {
  flex: 0 0 12.2857% !important;
  font-weight: bold;
  margin: 2px !important;
}

.new-custom-calendar .green-dot {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
  }

  &::after {
    top: 2px;
    right: 50%;
    transform: translateX(50%);
  }
}
.new-custom-calendar .grey-dot {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #9f9e9e;

    border-radius: 50%;
  }

  &::after {
    top: 2px;
    right: 50%;
    transform: translateX(50%);
  }
}
.new-custom-calendar .red-dot {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ff2b35;

    border-radius: 50%;
  }

  &::after {
    top: 2px;
    right: 50%;
    transform: translateX(50%);
  }
}
@media (min-width: 1700px) {
  .new-custom-calendar .calbtn .green-dot &::after {
    width: 15px;
    height: 15px;
    right: 50%;
    transform: translateX(50%);
  }
  .new-custom-calendar .calbtn .grey-dot &::after {
    width: 15px;
    height: 15px;
    right: 50%;
    transform: translateX(50%);
  }
  .new-custom-calendar .calbtn .red-dot &::after {
    width: 15px;
    height: 15px;
    right: 50%;
    transform: translateX(50%);
  }
}
