.rqstformtop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 13px 0;
  /* height: 200px; */
}
.RequestForm .goback {
  width: 100px;
  /* position: absolute; */
  z-index: 1;
}
.RequestForm p {
  margin: 0;
  font-size: 15px;
  /* color: #3d544e; */
}
/* .RequestForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */
.rqstForm form {
  color: #3d544e;
  background-color: white;
  border-radius: 25px;
  /* margin: 10px 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.my-form input:not([type="checkbox"]),
.my-form select,
.my-form textarea {
  color: #3d544e;
  width: 90%;
  padding: 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #3d544e;
}

.my-form .formFields {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sntrqstbtn button {
  width: 80%;
  border-radius: 20px;
  padding: 10px;
  font-size: 13px;
  background: #1b8368;
}

.ArrowBack {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  height: 15px;
  width: 15px;

  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-left: 10px;
}

.formsubmit {
  background-color: white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 30px 10px 34px;
  margin: 80px 10px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  position: relative;
}

.formsubmit p {
  width: 80%;
  font-size: 13px;
  text-align: center;
}

.formsubmit b {
  color: #00a860;
  font-size: 20px;
}

.formsubmit .css-821wyw-MuiSvgIcon-root {
  font-size: 30px;
  float: right;
  position: absolute;
  right: 10px;
  color: grey;
}

.error-message {
  margin: 0 20px !important;
  color: red;
  font-size: 10px !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  /* flex: 1; */
  margin-top: 20px;
  text-align: center;
}

.header-logo img {
  max-width: 75%;
}

.header-back-button {
  margin-right: auto;
}

.Rqstsuccess {
  height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.rqstForm input {
  margin-bottom: 0 !important;
}

.rqstForm {
  margin: 15px;
}

/* Tablet css */

@media (min-width: 600px) {
  .rqstForm form {
    margin-bottom: 10px;
    width: 50%;
  }

  .rqstForm {
    /* padding: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-logo img {
    width: 23%;
  }

  .SuccessCard {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formsubmit {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .RequestForm .goback {
    width: 120px;
  }
}
@media (min-width: 1024px) {
  .rqstForm form {
    margin-bottom: 10px;
    width: 40%;
  }

  .formsubmit {
    width: 30%;
  }
}

@media screen and (min-width: 2000px) {
  .RequestForm {
    height: 100vh;
  }

  .rqstForm form {
    width: 26%;
    height: 80%;
    height: 74%;
  }
}
