.ServicesViewContainer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* margin: 10px; */
}
.ServicesViewContainer .page-title {
  font-size: 18px;
}

/* .ServicesViewMainContainer {
} */
.service-details-body {
  padding: 12px;
}
.ServicesViewMainContainer {
  margin-top: 20px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px;
}
.ServicesViewMainContainer .MuiPaper-root {
  width: 100% !important;
}
.ServicesViewMainContainer .event-preview-img {
  display: flex;
  justify-content: center;
  background-color: #d0f9e4 !important;
  height: 160px;
  align-items: center;
}
.ServicesViewMainContainer .event-preview-img img {
  width: 40px;
  /* max-height: 160px; */
  /* object-fit: contain; */
  /* object-fit: contain; */
}
.edit-delete-service {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  align-self: last baseline;
}
.edit-delete-service img {
  width: 15px;
}
.registrationDetails {
  display: flex;
  justify-content: space-between;
}
.ServicesViewMainContainer .pointers-box {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 4px 0px;
  gap: 10px;
  padding-top: 8px;
  /* row-gap: 10px;
  column-gap: 5px; */
}
.ServicesViewMainContainer .pointers-box li {
  /* min-width: 130px; */
  /* color: #3d5347; */
}
.servicedetails {
  padding: 0;
}
.servicedetails h5 {
  margin: 15px 0 0 0;
  font-size: 15px;
}
.servicedetails .title {
  font-size: 20px;
  padding: 15px 3px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.servicedetails p {
  /* margin: 2px 10px 0 0; */
  /* margin: 0px !important;
  padding-top: 0px;
  color: #888; */
  font-size: 14px;
}
.servicedetails p:not(.profile-des-text, .toggle-switch-text) {
  margin: 0px !important;
  /* padding-top: 0px; */
  /* color: #888; */
}
.servicePreviewBtn .confirm-btn,
.servicePreviewBtn .share-btn {
  margin-top: 15px;
}
.servicePreviewBtn .confirm-btn .my-custom-btn {
  padding: 0px 38px 0px 45px !important;
}
.servicePreviewBtn .share-btn .my-custom-btn {
  padding: 0px 10px 0px 34px !important;
}

.serviceShowRegistrationsBtn {
  margin-top: 15px;
}
/* ToggleSwitch.css */

.toggle-switch {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.toggle-switch-text {
  margin-right: 8px;
}

.toggle-switch-container {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s;
}
.service-des-drop-item p {
  padding-top: 8px;

  font-weight: 500;
  font-size: 15px;

  color: #606060;
}
.service-des-drop-item h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  color: #2e382e;
}

.service-des-drop-item .clk-to-reg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration-line: underline;
  color: #1d785a;
}

@media (min-width: 768px) {
  .ServicesViewMainContainer .MuiPaper-root {
    width: 70% !important;
  }
}
@media (min-width: 1024px) {
  .ServicesViewMainContainer .MuiPaper-root {
    width: 60% !important;
  }
  .event-preview-img img {
    height: 40vh;
  }
}
@media (min-width: 1700px) {
}
