.custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar.ep-arrow::after {
  background-color: #d0f9e4;
}

.rmdp-container .custom-calendar.ep-arrow[direction="bottom"] {
  border-top: 1px solid #d0f9e4;
}

.rmdp-container .custom-calendar.ep-arrow[direction="top"] {
  border-bottom: 1px solid #d0f9e4;
}

.timeGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.timeGroup .form-group {
  width: 45%;
}
