.service-card {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 11px;
  overflow: hidden;
  gap: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  background-color: #ffff;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3), 0px 4px 20px rgba(0, 0, 0, 0.2);
  /* background-color: #065f464d; */
  max-height: 100px;
  min-height: 100px;
  box-sizing: border-box;
}
.service-card-content {
  margin-right: 50px;
  /* width: auto; */
  /* width: calc(100%-50%); */
}
.reddot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fc4a4a;
}
.greendot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00c986;
}

.service-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-card-image {
  width: 70px;
  min-width: 70px;
  display: flex;
  align-items: center;
  /* margin-right: 7px; */
  justify-content: center;
}

.service-card-image img {
  /* width: 100%; */
  border-radius: 16px;
  width: 21vw;
  height: 70px;
  object-fit: cover;
  object-fit: contain;
  max-width: 45px;
}

.service-card h3 {
  margin: 0;
  color: #2e382e;
  font-size: 14px;
}

.event-card-description {
  margin-top: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.service-card-details {
  word-break: break-all;
  margin-top: 5px;
  font-size: 12px;
  color: #888;
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
}
.service-card-details.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin-bottom: 2px;
}
.service-card-details.status {
  align-items: center;
}
.service-card-details strong {
  color: black;
}

.Datetime {
  display: flex;
  align-items: center;
  gap: 3px;
}
.next-step-icon {
  width: 12px;
  height: 12px;
  /* position: absolute;
    top: 10px;
    right: 10px; */
}
.service-card-next {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  /* .service-card-image img {
    width: 9vw;
  } */
  .service-card-image {
    width: 90px;
    min-width: 90px;
  }
}
@media (min-width: 1700px) {
  .service-card {
    width: 55%;
  }
  .service-card h3 {
    font-size: 21px;
  }
  /* .service-card-details {
    font-size: 25px;
  } */

  .calbtn .green-dot::after {
    top: 2px;
    right: 30px !important;
    width: 10px;
    height: 10px;
  }
}
