.program-form-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.program-images-container {
  width: 100%;
  height: 180px;
  border-radius: 30px;
  background-color: #e4fff1;
}

.program-info-container {
  margin: 20px;
}

.inputField,
.radio-group,
.registrationCheckbox,
.readOnlyField {
  margin-bottom: 20px;
}

.readOnlyField {
  margin-top: 20px;
}

.readOnlyField .readOnlyValues {
  white-space: pre;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #838383;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.inputField label,
.readOnlyField label {
  display: block;
  font-family: Lato;
  margin-bottom: 10px;
}

.program-form-wrapper label:not(.registrationCheckbox__disabled) {
  color: #838383;
  font-family: Lato;
  font-weight: bold;
}

.inputField input,
.inputField textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 18px;
  transition: border-color 0.3s ease;
  resize: none;
}

.addressCheckbox {
  margin-top: 15px;
}

.registrationCheckbox {
  display: flex;
  align-items: center;
}

.registrationCheckbox__disabled label {
  color: #b0b0b0 !important;
}

.program-form-wrapper {
  font-size: 0.85rem !important;
}

.next-button-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.program-calendar {
  max-width: 400px;
}

.errorBorder {
  border: 1px solid red !important;
}

.radioGroup {
  display: flex;
  gap: 20px;
  align-items: center;
}

.ageRangeInputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.radioLabel {
  display: flex !important;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.radioInput {
  opacity: 0;
  position: absolute;
}

.customRadio {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: inline-block;
  margin-right: 8px;
  transition: background-color 0.3s;
}

.radioInput:checked + .customRadio {
  width: 10px;
  height: 10px;
  border: 5px solid #b7ffe7;
  background-color: #1d785a;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.error-bdr {
  border: 1px solid #ee0000 !important;
}
