.inputError {
  border: 1px solid red !important;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 12px;
  height: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.adminPortal {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.admin {
  color: #1d785a; /* Green */
}

.portal {
  color: #f4a81f; /* Orange */
}

.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background: #fff;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1d785a;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1rem;
  color: #3d4a4f;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.floatingLabel {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  pointer-events: none;
  padding: 0 5px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #666;
  transition: top 0.2s, font-size 0.3s;
  z-index: 1;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #545454;
}

.input {
  padding: 0 15px;
  border: 1px solid #545454;
  border-radius: 25px;
  font-size: 0.8rem;
  height: 45px;
}

.input:focus + .floatingLabel,
.input:not(:placeholder-shown) + .floatingLabel,
.floatingLabel.active {
  top: 0px;
  font-size: 0.75rem;
}

.input:focus + .floatingLabel,
.input:not(:placeholder-shown) + .floatingLabel,
.floatingLabel.active2 {
  top: 0px;
  /* left: 10px !important; */
  font-size: 0.75rem;
}

.input:focus {
  border-color: #1f6034;
  outline: none;
}

.phoneInput {
  width: 100% !important;
  border-radius: 25px !important;
  height: 45px !important;
  font-size: 0.8rem !important;
  padding-left: 48px !important;
}

/* .phoneInput:focus + .flagButton {
  border: 2px solid rgb(224, 152, 18) !important;
  border-right-width: 0 !important;
} */

.flagButton {
  border-radius: 20px 0 0 20px !important;
  border: 1px solid #545454 !important;
  border-right-width: 0 !important;
  background-color: white !important;
}

.dropdown {
  width: 250px !important;
  background-color: white !important;
}

.dropdownIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #545454;
  cursor: pointer;
  font-size: 1rem;
  position: "absolute";
}

:global(.react-tel-input .flag-dropdown.open .selected-flag) {
  background-color: nobe !important; /* Override background */
  border-radius: 20px 0 0 20px !important;
}

.selectedAddress {
  font-size: 12px;
  color: #333;
  padding: 10px 40px;
  border: 1px solid #545454;
  border-radius: 25px;
}

.button {
  background-color: #1b8368;
  color: #fff;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #176d2d;
}

.iconeye {
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 1rem;
  color: #545454;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

.checkboxLabel {
  font-weight: 500;
  font-size: 0.895rem;
  color: #3d4a4f;
  text-decoration: underline;
}

.formContainer {
  width: 100%;
  min-height: 550px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 400px) {
  /* .container {
    max-width: 400px;
    margin: 0 auto;
  } */
  .selectedAddress {
    font-size: 0.85rem;
  }

  .input {
    font-size: 0.85rem;
  }
}
